<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Digital Sutor : Cadastrar novo usuário</title>
<th:block th:include="fragments/basiclayout.html :: headerfiles"></th:block>
</head>
<body class="bg-dark">
	<div class="container">

		<div class="card card-register mx-auto mt-5">
			<div class="card-header">Digital Sutor :: Confirmação de novo usuário</div>
			<div class="card-body">
				<div class="text-center mt-4 mb-5">
					<h4>Usuário <span th:text="${username}"></span> registrado com sucesso!</h4>
					<p>Clique no botão "Confirmar" abaixo para confirmar sua conta.</p>
				</div>
				<form th:action="@{/confirmar}" method="POST" th:object="${usuario}">
					<input id="token" type="hidden" th:field="*{token}">
					<div class="form-group">
						<input type="submit" class="btn btn-primary btn-block" value="Confirmar">
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- Bootstrap core JavaScript-->
	<script src="jquery/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
	
	<!-- Core plugin JavaScript-->
	<script src="jquery-easing/jquery.easing.min.js"></script>
	
</body>
</html>