<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Digital Sutor : Inicio</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Digital Sutor - Administração</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					href="#">Lista de Produtos <span
						class="sr-only">(current)</span></a></li>
				<li class="nav-item"><a class="nav-link disabled"
					href="#">Cadastro de Produtos</a></li>
			</ul>
			<span class="navbar-text" th:inline="text" th:text="${#httpServletRequest.remoteUser}">
			</span>
		</div>
	</nav>

	<div class="container">
		
	</div>

</body>
</html>