<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Digital Sutor :: Dashboard</title>
<th:block th:include="fragments/basiclayout.html :: headerfiles">
</th:block>
</head>
<body class="fixed-nav sticky-footer bg-dark">

	<nav
		th:replace="fragments/basiclayout.html :: userData(${nome}, ${ultimonome})"></nav>

	<div class="content-wrapper">

		<div class="container-fluid">

			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Produção</a></li>
				<li class="breadcrumb-item active">Cadastro de Produtos</li>
			</ol>

			<div class="card mb-3">

				<div class="card-header">
					<i class="fas fa-cubes"></i> Novo Produto
				</div>

				<form th:object="${produto}" method="POST">
					<div class="card-body">
					
						<div class="form-group">
							<label for="nome">Nome do Produto</label>
							<input type="text" th:field="*{nome}" class="form-control">
						</div>
						
						<div class="form-group">
							<label for="descricao">Descrição</label>
							<textarea th:field="*{descricao}" class="form-control" rows="5"></textarea>
						</div>
						
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<label for="empresa">Empresa vinculada</label>
									<input type="text" th:field="*{empresa}" class="form-control">
								</div>
								<div class="col-md-6">
									<label for="receita">Receita de Produção</label>
									<div class="input-group mb-3">
										<input type="text" th:field="*{receita}" class="form-control">
										<div class="input-group-append">
											<a href="#" class="btn btn-primary"><i class="fas fa-plus"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="card mb-3">
							<div class="card-header">
								<i class="fas fa-dollar-sign"></i> Precificação
							</div>
							<div class="card-body">
								<div th:each="tipo, status : ${tipoPrecos}" class="form-group">
									<a data-toggle="collapse"
										th:attr="data-target='#precos[' +${status.index}+ '].tipo'"
										th:href="'#precos[' +${status.index}+ '].tipo'"> <span
										th:text="${tipo}"></span>
									</a>
									<div class="collapse"
										th:id="'precos[' +${status.index}+ '].tipo'">
										<input class="form-control" type="text" th:field="*{precos[__${status.index}__].preco}">
										<input type="hidden" th:attr="name='precos[__${status.index}__].tipo'" th:value="${tipo}">
									</div>
								</div>
							</div>
						</div>
					
					</div>
					<div class="card-footer">
						<div class="form-group">
							<div class="form-row">
								<div class="col align-self-end text-right">
									<button type="submit" class="btn btn-primary">
										<i class="fas fa-share-square"></i> Salvar Produto
									</button>
									<a class="btn btn-danger" href="#" onClick="window.history.go(-1)">
										<i class="fas fa-ban"></i> Cancelar
									</a>
								</div>
							</div>
						</div>
					</div>
				</form>

			</div>

		</div>

	</div>

	<footer th:insert="fragments/basiclayout.html :: footer.sticky-footer"></footer>

	<div th:if="${registrationMessage}"
		th:insert="fragments/basicLayout.html :: successInsert(${registrationMessage})"></div>

	<!--  
	<a class="scroll-to-top rounded" href="#page-top" style="display: inline;">
		<i class="fa fa-angle-up"></i>
	</a>
	-->

	<div th:insert="fragments/basiclayout.html :: logoutModal"></div>

	<!-- Bootstrap core JavaScript-->
	<script src="jquery/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="jquery-easing/jquery.easing.min.js"></script>

	<!-- Page level plugin JavaScript-->
	<script src="chart.js/Chart.min.js"></script>
	<script src="datatables/jquery.dataTables.js"></script>
	<script src="datatables/dataTables.bootstrap4.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="custom/js/sb-admin.min.js"></script>

	<!-- Custom scripts for this page-->
	<script src="custom/js/sb-admin-datatables.min.js"></script>
	<script src="custom/js/sb-admin-charts.min.js"></script>

	<script type="text/javascript">
		$(window).on('load', function() {
			$('#successModal').modal('show');
		});
	</script>

</body>
</html>